.App {
  text-align: center;
  min-width: 300px;
  
}

body{
  background: linear-gradient(to left, rgb(0, 199, 206), rgb(0, 216, 144)) ;
  min-width: 390px;
}
:root{
  --bg: linear-gradient(to right, rgb(247, 0, 247), rgb(183, 0, 255));
}

h1{
  margin: -3rem 0 1rem;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  color: #fff;
  font-size: 2.2rem;
  border-bottom: 2px solid #fff;
  background: linear-gradient(to right, rgb(110, 59, 126), rgb(53, 16, 68));
}

.main{
  padding-top: 3rem;
  width: 100%;
  margin: auto;
  
}

.preview{
  width: 95%;
  border: 3px solid #fff;
  outline: 3px solid #000;
  margin: 2rem auto .8rem;
  box-sizing: content-box;
  max-width: 500px;
  min-width: 385px;

}
.meme{
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items:  center;
  min-width: 385px;
}


.meme span{
  position: absolute;
  
  color: #fff;
  text-shadow: 2px 0px 0px #000, -2px 0px 0px #000, 0px 2px 0px #000, 0px -2px 0px #000, -1px -1px #000, 1px 1px #000, 1px -1px #000, -1px 1px #000;
  word-wrap: break-word;
  margin-left: 1rem;
  margin-right: 1rem; 
  margin-bottom: 310px;
  min-width: 385px;
  max-height: 96px;
  max-width: 500px;
  overflow-wrap: break-word;
}

.meme img{
  width: 100%;
  object-fit: contain;
  min-width: 385px;
}
.meme .size1 {
  font-size: 40px;
}
.meme .size2{
  font-size: 30px;
  line-height: 1.8rem;
}
.meme .size3{
  font-size: 28px;
  line-height: 1.5rem;
}
.meme .size4{
  font-size: 24px;
  line-height: 1.3rem;
}

.meme .linea2{
  position: fixed;
  margin-top: 620px;
  min-width: 385px;
}

select{
  padding: .5rem;
  background-color: #fff;
  margin: 0 0 .4rem;
}

input{
  margin: .5rem 0 0;
  width: 70%;
  padding: .5rem;
  background-color: #fff;
  border: 1px solid #aaa;
  border-left: 3px solid #f0f;
  box-shadow: 1px 1px 2px #000;
  outline: none;
  max-width: 480px;
}

input:focus{
  box-shadow: 2px 2px 4px #000;
}

input::placeholder {
  color: #555;
  
}

button{
  margin-top: 0rem;
  padding: 1rem;
  box-shadow: 1px 1px 1px #000;
  border-radius: .5rem;
  color: #fff;
  font-weight: bold;
  background: var(--bg);
  border: none;
}

a{
  color: #fff;
}





@media(min-width: 500px) {
  .meme span{
    margin-bottom: 380px;
    width: 90%;
    max-height: 96px;
    max-width: 500px;
  }

  .meme .linea2{
  margin-top: 760px;
  }

}

@media(min-width: 470px) and (max-width: 500px) {
  .meme span{
    margin-bottom: 350px;
    line-height: 1.6rem;
  }

  .meme .linea2{
  margin-top: 700px;
  }
}

@media(min-width: 400px) and (max-width: 460px) {
  .meme span{
    line-height: 1.4rem;
  }
}



@media(max-width: 400px) {
  body{
    background: rgb(0, 206, 189);
  }
  .preview{
    margin: 2rem auto .8rem;
  }
  .meme span{
    line-height: 1.3rem;
    max-height: 50px;
  }
  .meme .linea2{
    margin-top: 600px;
    }
}
